div.container {
  border: solid 2px blue;
  border-radius: 30px;
  padding: 20px;
  margin-top: 20px;
  max-width: 600px;
  min-width: 600px;
}
.search {
  background-color: blue;
}

.current {
  background-color: #5e6dbd;
}
.search,
.current {
  border-radius: 3px;
  border: none;
  padding: 2px;
  line-height: 1.5;
  min-width: 70px;
  font-weight: 450;
}
.search:hover {
  cursor: pointer;
}

input {
  border-radius: 3px;
}
.city {
  border: solid 1px rgb(17, 17, 17);
  max-width: 450px;
  outline: none;
  padding-left: 10px;
  min-width: 400px;
  line-height: 1.5;
}
.city:hover {
  border: solid 2px blue;
}
h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

span.celcius,
span.emoji,
span.temperature {
  font-size: 60px;
}

.container.text-center {
  background-color: #d0d4d3;
  max-width: 600px;
  min-width: 500px;
}

#ctemp {
  color: gray;
  text-decoration: none;
  position: relative;
  top: 20px;
  left: -45px;
  font-size: 20px;
}

div.row.second {
  display: flex;
  text-align: center;
  align-items: center;
}
div.row {
  display: flex;
}

div.col-3 {
  display: block;
}

div.col-3 .numbers {
  display: block;
}
.weatherinfo {
  list-style: none;
  font-size: 12px;
  position: relative;
  top: 7px;
  left: -220px;
}
